<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="True" name="HandheldFriendly">
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="360-fullscreen" content="true">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="dns-prefetch" href="//o0vslv5hc.qnssl.com/">
    <title><%= title%></title>
</head>

<body>
    <script src="//yaotv.qq.com/shake_tv/include/js/jsapi.js"></script>
    <script src="//o0vslv5hc.qnssl.com/js/jquery.custom.js?v=2"></script>

    <div class="wrapper"></div>
    <div class="loader page-loading"><div class="loader-inner ball-scale-multiple"><div></div><div></div><div></div></div></div>

    <script>
        <% if (channelId) { %>
        var channelId = <%= channelId%>;
        <% } %>
        loadScript.load(["<%= cdn%>js/config.js"], "nocache").done(function() {
            var v = new Date();
            $.insertCss(config.cdn+'css/app.css?v' + v);
            $.insertJs(config.cdn+'js/loader.js?v' + v);
        });
    </script>
</body>

</html>